/*general css*/
.b{
font-weight:bold;
}

a{
color:#3073FF;
}

a:hover{
color:#1051DD;
}

a.link2{
text-decoration:none;
color:#777777;
}

a.link2:hover{
color:#222222;
}

@font-face{
font-family:text-font;
src:url(sanslight.otf);
}

@font-face{
font-family:head-font;
src:url(sans.otf);
}

html, body{
height:auto;
margin:0px;
padding:0px;
}

body{
width:100%;
background-color:#FCFCFC;
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center top;
font-size:100%;
z-index:0;
}



/*heading of the pages*/
div#heading-wrapper{
position:relative;
left:8px;
width:99%;
height:230px;
}

div#title-wrapper{
position:relative;
height:130px;
border-radius:2px;
background-color:none;
z-index:1;
}

div#hr{
position:relative;
top:45px;
border-style:none none solid none;
border-width:2px;
border-color:#EEEEEE;
width:70%;
margin-right:auto;
margin-left:auto;
}


/*navlinks*/
div#home{
height:100px;
width:400px;
position:relative;
left:50px;
top:30px;
border-radius:10px;
}

a.link{
font-family:head-font;
font-size:20px;
text-decoration:none;
color:#3073FF;
}

a.link:hover{
color:#1051DD;
}

a#current{
color:#0031BD;
}

div#navbar{
z-index:1;
position:relative;
bottom:13px;
left:250px;
width:500px;
height:auto;
}

ul#nav{
list-style-type:none;
margin:2px;
padding:5px;
padding-bottom:0px;
margin:0px;
}

li#nav{
margin:2px 20px;
display:inline;
padding-bottom:0px;
margin-bottom:0px;
}



/*header menu*/
div#head{
position:relative;
margin:0px;
margin-bottom:50px;
width:100%;
min-width:1010px;
height:50px;
/*background-color:#DDDDDD;*/
background: -webkit-linear-gradient(#FFFFFF, #CCCCCC); /*For Safari*/
background: -o-linear-gradient(#FFFFFF, #DDDDDD); /* For Opera*/
background: -moz-linear-gradient(#FFFFFF, #DDDDDD); /* For Firefox*/
background: linear-gradient(#DFDFDF, #FFFFFF); 
border-style:none none solid none;
border-width:1px;
border-color:#CFCFCF;
z-index:2;
}

a#logoLink{
display: inline-block;
height:70px;
width:70px;
position:relative; 
left:100px;
}

object#logoSVG{
position:relative;
right:10px;
pointer-events:none;
width:110px; 
}

div#logo{
position:relative;
bottom:20px;
height:30px;
width:50px;
margin:0px;
}

form#search-form{
margin:0px;
position:relative;
bottom:25px;
left:32px;
}

input#search{
width:150px;
height:20px;
background-color:#D1D1D1;
color:#777777;
}

input#search-submit{
height:25px;
position:relative;
bottom:0px;
border-style:none;
border-radius:6px;
background-color:#E1E1E1;
color:#777777;
cursor:pointer;
}

input#search-submit:hover{
background-color:#DEDEDE;
}

img[src="mailico.png"]{
width:25px;
height:25px;
}

a#menu-link{
font-family:text-font;
text-decoration:none;
color:#666666;
position:relative;
float:right;
bottom:10px;
right:205px;
}

a#menu-link:hover{
color:#777777;
}

div#headIcons{
height:35px;
z-index:2;
position:absolute;
right:150px;
bottom:-5px;
}



/*body content formatting*/
div#content{
font-family:text-font;
font-size:16px;
position:relative;
margin:0px auto;
width:1000px;
height:650px;
background-color:#FFFFFF;
border-style:solid;
border-width:2px;
border-color:#EEEEEE; /*4083FF*/
border-radius:10px;
z-index:2;
color:#4A4A4A;
}

div.secondary-content{
position:absolute;
width:250px;
margin:10px;
padding:10px;
padding-bottom:15px;
font-family:text-font;
background-color:#FFFFFF;
border-style:solid;
border-width:2px;
border-color:#EEEEEE; /*4083FF*/
border-radius:10px;
z-index:2;
color:#4A4A4A;
}

div#left-con{
padding:10px;
float:left;
position:relative;
height:626px;
width:479px;
}

div#right-con{
padding:10px;
float:right;
position:relative;
height:626px;
width:469px;
}

.header{
color:#3073FF;
font-size:30px;
}

.text{
line-height:30px;
margin-bottom:2px;
}

ul.list{
margin:2px 0px 20px;
width:auto;
}

/*forms work*/
div#forms{
color:#4A4A4A;
position:relative;
line-height:30px;
}

input[type="text"]{
border-style:solid;
border-color:#AAAAAA;
border-width:1px;
border-radius:5px;
padding-left:3px;
}

input[type="password"]{
border-style:solid;
border-color:#AAAAAA;
border-width:1px;
border-radius:5px;
padding-left:3px;
}

select.option-in{
width:250px;
color:#777777;
}

input#button{
background-color:#EFEFEF;
border-style:none;
border-radius:5px;
padding:10px;
cursor:pointer;
}

input#button:hover{
background-color:#EAEAEA;
}

input#comment-send{
position:relative;
bottom:50px;
border-radius:10px;
background-color:#DCDCDC;
border-style:none;
cursor:pointer;
padding:8px;
}

input#comment-send:hover{
background-color:#CCCCCC;
}

input#register{
position:relative;
bottom:50px;
border-radius:10px;
background-color:#DCDCDC;
border-style:none;
cursor:pointer;
padding:8px;
}

input#register:hover{
background-color:#CCCCCC;
}