div#footer{
padding:3px;
height:130px;
width:350px;
position:relative;
margin:0px auto 0px auto;
left:315px;
bottom:8px;
}

.foot-col{
font-family:text-font;
text-align:right;
float:right;
width:150px;
z-index:3;
line-height:25px;
}

span.footer-head{
font-weight:bold;
color:#3073FF;
text-decoration:underline;
}

a.foot-link{
color:#555555;
text-decoration: none;
}

a.foot-link:hover{
color:#222222;
}