/*general css*/
.b
{
font-weight:bold;
}

a.link2
{
text-decoration:none;
color:#777777;
}

a.link2:hover
{
color:#222222;
}

@font-face
{
font-family:sanford;
src:url(sanford.ttf);
}




/*body content formatting*/
#body-bg
{
position:relative;
top:-200px;
width:100%;
height:850px;
background-color:#BBBBBB;
border-style:solid none none;
border-color:#AAAAAA;
border-width:2px;
z-index:1;
}

#content
{
font-family:sanford;
font-size:16px;
position:relative;
top:500px;
margin:0px auto;
width:1000px;
height:650px;
background-color:#FFFFFF;
border-style:solid;
border-color:#CCCCCC;
border-radius:10px;
z-index:2;
color:#3073FF;
}

#left-con
{
padding:10px;
float:left;
position:relative;
height:626px;
width:479px;
}

#right-con
{
padding:10px;
float:right;
position:relative;
height:626px;
width:469px;
}

.header
{
font-size:30px;
}

.text
{
line-height:30px;
}



/*forms work*/
#forms
{
color:#3073FF;
position:relative;
top:20px;
line-height:30px;
}

input[type="text"]
{
border-style:solid;
border-color:#AAAAAA;
border-width:1px;
border-radius:5px;
padding-left:3px;
}

.option-in
{
width:250px;
color:#777777;
}

#button
{
font-weight:bold;
background-color:#BBBBBB;
border-style:none;
border-radius:5px;
padding:10px;
cursor:pointer;
}

#button:hover
{
background-color:#CCCCCC;
}

#comment-send
{
background-color:#BABABA;
border-style:solid;
border-color:#AAAAAA;
cursor:pointer;
padding:8px;
}

#comment-send:hover
{
background-color:#AAAAAA;
}