#dropdown
{
visibility:hidden;
padding-top:25px;
position:relative;
float:right;
right:-190px;
top:35px;
height:45px;
width:135px;
border-style:none;
text-align:center;
padding:0px;
}

a.dlink
{
font-family:sanford;
font-size:20px;
text-decoration:none;
color:#3073FF;
}

a.dlink:hover
{
color:#1051DD;
}